Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2024-12, with the labels that each got.

#491 Removes cloning boards from expedition loot pool
  Resources/Prototypes/Procedural/salvage_loot.yml
Labels: Changes: No C#, size/S

#493 Adds two new hairstyles.
  Resources/Locale/en-US/_CD/accessories/human-hair.ftl
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_CD/Mobs/Customization/human_hair.rsi/berlytwintails.png
  Resources/Textures/_CD/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/human_hair.rsi/shortheart.png
Labels: Changes: Sprites, Changes: No C#, size/M

#494 Remove references to modern wizden space law
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/_CD/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/CDSpaceLaw.xml
Labels: Changes: No C#, size/S

#476 job slots console
  Content.Client/_CD/JobSlotsConsole/JobRow.xaml
  Content.Client/_CD/JobSlotsConsole/JobRow.xaml.cs
  Content.Client/_CD/JobSlotsConsole/JobSlotsConsoleBUI.cs
  Content.Client/_CD/JobSlotsConsole/JobSlotsConsoleMenu.xaml
  Content.Client/_CD/JobSlotsConsole/JobSlotsConsoleMenu.xaml.cs
  Content.Server/_CD/JobSlotsConsole/JobSlotsConsoleComponent.cs
  Content.Server/_CD/JobSlotsConsole/JobSlotsConsoleSystem.cs
  Content.Shared/_CD/JobSlotsConsole/JobSlotsConsoleState.cs
  Resources/Locale/en-US/_CD/jobslots/job-slots-console.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_CD/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_CD/Entities/Structures/Machines/Computers/tabletopcomputer.yml
Labels: Changes: UI

#500 Add workflow for easy to use servers.
  .github/workflows/cd-build-upload-artifact.yml
Labels: Changes: No C#

#496 Aspid Dorms Update
  Resources/Maps/_CD/aspid.yml
  Resources/Prototypes/_CD/Maps/aspid.yml
Labels: Changes: Map, Changes: No C#

#499 Role Slot Adjustments
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/packed.yml
Labels: Changes: Map, Changes: No C#

#480 admin event preference panel
  Content.Client/_CD/Admin/UI/EventPreferencePanelEui.cs
  Content.Client/_CD/Admin/UI/EventPreferences.xaml
  Content.Client/_CD/Admin/UI/EventPreferences.xaml.cs
  Content.Client/_CD/Admin/UI/EventPreferencesPanel.xaml
  Content.Client/_CD/Admin/UI/EventPreferencesPanel.xaml.cs
  Content.Server/_CD/Admin/Commands/EventPreferencesCommand.cs
  Content.Server/_CD/Admin/EventPreferenceEui.cs
  Content.Server/_CD/Admin/EventPreferencePanelEui.cs
  Content.Shared/_CD/Admin/EventPreferencePanelEuiState.cs
  Resources/Locale/en-US/_CD/admin/admin.ftl
Labels: Changes: UI

#504 Add antag target preferences.
  Resources/Locale/en-US/_CD/prototypes/roles/antags.ftl
  Resources/Prototypes/_CD/Roles/Antags/preferences.yml
Labels: Changes: No C#

#507 Paramedics get the handheld monitor and it can be printed at the medfab
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_CD/Recipes/Lathes/medical.yml
Labels: Changes: No C#

#508 Remove the crew monitor as an antag target
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: No C#

#510 Derotate Amber Temporarily
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#

#511 Very Lightweight and Heavyweight drunk traits
  Resources/Locale/en-US/_CD/traits/traits.ftl
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/_CD/Traits/categories.yml
  Resources/Prototypes/_CD/Traits/traits.yml
Labels: Changes: No C#

#514 Amber CD Port
  Resources/CDMapPatches/amber.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/amber.yml
Labels: Changes: Map, Changes: No C#

#516 Job Slots Computer Board and Flatpack
  Resources/Prototypes/_CD/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_CD/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_CD/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: No C#

#515 Cosmetic Drip 3.3 ~ Trinkets & Touchups
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_CD/Entities/Objects/Specific/Medical/crutches.yml
  Resources/Prototypes/_CD/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_CD/Recipes/Lathes/medical.yml
  Resources/Textures/_CD/Clothing/Eyes/Hud/med_visor.rsi/equipped-EYES.png
  Resources/Textures/_CD/Clothing/Eyes/Hud/med_visor.rsi/icon.png
  Resources/Textures/_CD/Clothing/Eyes/Hud/med_visor.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Eyes/Hud/med_visor.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Eyes/Hud/med_visor.rsi/meta.json
  Resources/Textures/_CD/Clothing/Head/Helmets/etu_pointman.rsi/off-equipped-HELMET.png
  Resources/Textures/_CD/Clothing/Head/Helmets/etu_pointman.rsi/on-equipped-HELMET.png
  Resources/Textures/_CD/Objects/Specific/Medical/crutches.rsi/icon.png
  Resources/Textures/_CD/Objects/Specific/Medical/crutches.rsi/inhand-left.png
  Resources/Textures/_CD/Objects/Specific/Medical/crutches.rsi/inhand-right.png
  Resources/Textures/_CD/Objects/Specific/Medical/crutches.rsi/meta.json
  Resources/Textures/_CD/Objects/Specific/Medical/crutches.rsi/wielded-inhand-left.png
  Resources/Textures/_CD/Objects/Specific/Medical/crutches.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#521 temporarily derotate loop
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#

#520 Buff Advanced SMES
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: Changes: No C#

#523 Remove the unknown shuttle announcement.
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: No C#
