Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2025-04, with the labels that each got.

#584 Fix names with quotes
  Resources/Locale/en-US/_CD/datasets/names/avali_unisex.ftl
  Resources/Locale/en-US/_CD/datasets/names/rodentia_female.ftl
  Resources/Locale/en-US/_CD/datasets/names/rodentia_last.ftl
  Resources/Locale/en-US/_CD/datasets/names/rodentia_male.ftl
  Resources/Locale/en-US/_CD/datasets/names/vulpkanin_female.ftl
  Resources/Locale/en-US/_CD/datasets/names/vulpkanin_last.ftl
  Resources/Locale/en-US/_CD/datasets/names/vulpkanin_male.ftl
Labels: Changes: No C#

#581 Correct tip 38
  Resources/Locale/en-US/tips.ftl
Labels: Changes: No C#

#589 Added glasses to CD role loadouts.
  Resources/Prototypes/_CD/Loadouts/role_loadouts.yml
Labels: Changes: No C#

#591 Aspid Mail, Salv, and Med update
  Resources/Maps/_CD/aspid.yml
Labels: Changes: Map, Changes: No C#

#593 Re-enable Space Dragons
  Content.Server/Dragon/DragonSystem.cs
  Resources/Locale/en-US/dragon/dragon.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/dragon.yml
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
Labels: Changes: No C#

#564 Colored Drip 2 - Suits
  Resources/Prototypes/_CD/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_CD/Catalog/VendingMachines/Inventories/quickthreads.yml
  Resources/Prototypes/_CD/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/burgundy.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/burgundy.rsi/icon.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/burgundy.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/burgundy.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/burgundy.rsi/meta.json
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/purple.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/purple.rsi/icon.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/purple.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/purple.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/purple.rsi/meta.json
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/red.rsi/icon.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/red.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/red.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/Suits/red.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/burgundy.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/burgundy.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/burgundy.rsi/folded-icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/burgundy.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/burgundy.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/burgundy.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/burgundy.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/purple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/purple.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/purple.rsi/folded-icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/purple.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/purple.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/purple.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/purple.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/red.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/red.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/red.rsi/folded-icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/red.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/red.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/red.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Suits/red.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#588 Cosmetic Drip ~ Pants
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Catalog/VendingMachines/Inventories/quickthreads.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/_CD/Loadouts/loadout_groups.yml
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/engineering_pants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/engineering_pants.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/engineering_pants.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/engineering_pants.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/engineering_pants.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/engineering_pants.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/jeans_black.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/jeans_black.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/jeans_black.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/jeans_black.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/jeans_black.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/jeans_black.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#598 Fix arbitrage test
  Resources/Prototypes/_CD/Catalog/Cargo/cargo_vending.yml
Labels: Changes: No C#

#597 Mary Sue Rule
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/CosmaticDriftRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayExpectations/Rule3-0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayExpectations/Rule3-9.xml
Labels: Changes: No C#

#603 Let the Mimes write!
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: Changes: Sprites, Changes: No C#

#599 Remove Intern Roles, Rework Them into Loadouts
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Science/titles.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_CD/Maps/aspid.yml
  Resources/Prototypes/_CD/Maps/ferrous.yml
  Resources/Prototypes/_CD/Maps/gemini.yml
Labels: Changes: Map, Changes: No C#

#601 Cosmetic drip 4.1 ~ Engineering Uniforms
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/atmos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/atmos.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/atmos.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/atmos.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/atmos.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/engineering.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/engineering.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/engineering.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/engineering.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/engineering.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos_hazard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos_hazard.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos_hazard.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos_hazard.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/atmos_hazard.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#505 pda messaging real
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatLookupView.xaml
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatLookupView.xaml.cs
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_CD/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/_CD/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/_CD/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/_CD/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/_CD/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/_CD/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_CD/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/_CD/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_CD/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_CD/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_CD/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/_CD/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/_CD/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/_CD/nanochat/components/nanochat-card-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_CD/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_CD/name_identifier_groups.yml
  Resources/ServerInfo/Guidebook/ServerRules/GeneralEtiquette/Rule2-3.xml
  Resources/Textures/_CD/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_CD/Interface/VerbIcons/bell.svg
  Resources/Textures/_CD/Interface/VerbIcons/bell.svg.png
  Resources/Textures/_CD/Interface/VerbIcons/bell_muted.png
  Resources/Textures/_CD/Interface/VerbIcons/hamburger_icon.svg.png
  Resources/Textures/_CD/Misc/program_icons.rsi/meta.json
  Resources/Textures/_CD/Misc/program_icons.rsi/nanochat.png
  Resources/Textures/_CD/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/_CD/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#607 Fix Title PDAs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Loadouts/loadout_groups.yml
Labels: Changes: No C#

#605 admin records console can filter by record entry type again
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
Labels: Changes: UI

#612 Ferrous Update (1.10)
  Resources/Maps/_CD/ferrous.yml
  Resources/Prototypes/_CD/Maps/ferrous.yml
Labels: Changes: Map, Changes: No C#
