Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2025-03, with the labels that each got.

#558 Ported Avali Laugh from RMC14
  Resources/Audio/_CD/Voice/Avali/attributions.yml
  Resources/Audio/_CD/Voice/Avali/avali_laugh.ogg
  Resources/Prototypes/_CD/Voice/speech_emote_sounds.yml
Labels: Changes: No C#, Changes: Audio

#557 Breakout Creation
  Resources/Prototypes/_CD/Reactions/narcotics.yml
Labels: Changes: No C#

#561 Pet Pebble
  Resources/Locale/en-US/_CD/interaction/interaction-popup-component.ftl
  Resources/Prototypes/_CD/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CD/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/_CD/Mobs/Pets/pebble.rsi/meta.json
  Resources/Textures/_CD/Mobs/Pets/pebble.rsi/pebble.png
  Resources/Textures/_CD/Mobs/Pets/pebble.rsi/pebble_dead.png
Labels: Changes: Sprites, Changes: No C#

#562 Template changes
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: Changes: No C#

#569 Fix Arrivals
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, Changes: No C#

#571 Alert Levels Rework
  Resources/Audio/_CD/Misc/amber.ogg
  Resources/Audio/_CD/Misc/attributions.yml
  Resources/Audio/_CD/Misc/bronze.ogg
  Resources/Audio/_CD/Misc/omega.ogg
  Resources/Locale/en-US/_CD/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: Changes: No C#, Changes: Audio

#572 SOP Alert Levels Update
  Resources/ServerInfo/Guidebook/_CD/sop/core.xml
  Resources/ServerInfo/Guidebook/_CD/sop/med.xml
  Resources/ServerInfo/Guidebook/_CD/sop/sci.xml
  Resources/ServerInfo/Guidebook/_CD/sop/security.xml
Labels: Changes: No C#

#574 Pebble Ghost Role
  Resources/Locale/en-US/_CD/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_CD/Entities/Mobs/NPCs/pets.yml
Labels: Changes: No C#

#575 Map Patch Maintenance
  Resources/CDMapPatches/amber.yml
  Resources/CDMapPatches/bagel.yml
  Resources/CDMapPatches/box.yml
  Resources/CDMapPatches/convex.yml
  Resources/CDMapPatches/core.yml
  Resources/CDMapPatches/elkridge.yml
  Resources/CDMapPatches/loop.yml
  Resources/CDMapPatches/marathon.yml
  Resources/CDMapPatches/meta.yml
  Resources/CDMapPatches/oasis.yml
  Resources/CDMapPatches/omega.yml
  Resources/CDMapPatches/packed.yml
  Resources/CDMapPatches/plasma.yml
Labels: Changes: No C#

#576 Make anomalous infections less common
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
Labels: Changes: No C#

#577 Added: Trooper Gear for Senior Officer Loadouts
  Resources/Prototypes/_CD/Loadouts/loadout_groups.yml
Labels: Changes: No C#

#582 Disable paradox pending rework
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#
