Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2025-09, with the labels that each got.

#742 Lore Friendly Salvage Corpses
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
Labels: Changes: No C#

#741 New Central Command
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Shuttles/Components/StationCentcommComponent.cs
  Resources/Maps/_CD/centcomm.yml
  Resources/Prototypes/_CD/Maps/centcomm.yml
Labels: Changes: Map

#735 Catatonic and Soulless description changes
  Resources/Locale/en-US/mind/components/mind-component.ftl
Labels: Changes: No C#

#749 Fix the rules screen
  Resources/ServerInfo/Guidebook/ServerRules/CosmaticDriftRules.xml
Labels: Changes: No C#

#751 Allows [mono] to be used in records
  Content.Client/_CD/Records/UI/RecordEntryViewPopup.xaml.cs
Labels: Changes: UI

#745 Ferrous Rework Patch - Part 3.
  Resources/Maps/_CD/ferrous.yml
Labels: Changes: Map, Changes: No C#

#736 Cosmetic Drip ~ Belts & Bags
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CD/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_CD/Loadouts/loadout_groups.yml
  Resources/Textures/_CD/Clothing/Back/Others/engineering.rsi/equipped-BACKPACK.png
  Resources/Textures/_CD/Clothing/Back/Others/engineering.rsi/icon.png
  Resources/Textures/_CD/Clothing/Back/Others/engineering.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Back/Others/engineering.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Back/Others/engineering.rsi/meta.json
  Resources/Textures/_CD/Clothing/Back/Others/medical.rsi/equipped-BACKPACK.png
  Resources/Textures/_CD/Clothing/Back/Others/medical.rsi/icon.png
  Resources/Textures/_CD/Clothing/Back/Others/medical.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Back/Others/medical.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Back/Others/medical.rsi/meta.json
  Resources/Textures/_CD/Clothing/Back/Others/paramedic.rsi/equipped-BACKPACK.png
  Resources/Textures/_CD/Clothing/Back/Others/paramedic.rsi/icon.png
  Resources/Textures/_CD/Clothing/Back/Others/paramedic.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Back/Others/paramedic.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Back/Others/paramedic.rsi/meta.json
  Resources/Textures/_CD/Clothing/Belt/Harnesses/tool_webbing.rsi/equipped-BELT.png
  Resources/Textures/_CD/Clothing/Belt/Harnesses/tool_webbing.rsi/icon.png
  Resources/Textures/_CD/Clothing/Belt/Harnesses/tool_webbing.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Belt/Harnesses/tool_webbing.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Belt/Harnesses/tool_webbing.rsi/meta.json
  Resources/Textures/_CD/Clothing/Belt/Kits/field_treatment.rsi/equipped-BELT.png
  Resources/Textures/_CD/Clothing/Belt/Kits/field_treatment.rsi/icon.png
  Resources/Textures/_CD/Clothing/Belt/Kits/field_treatment.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Belt/Kits/field_treatment.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Belt/Kits/field_treatment.rsi/meta.json
  Resources/Textures/_CD/Clothing/Belt/Kits/medical_trauma.rsi/equipped-BELT.png
  Resources/Textures/_CD/Clothing/Belt/Kits/medical_trauma.rsi/icon.png
  Resources/Textures/_CD/Clothing/Belt/Kits/medical_trauma.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Belt/Kits/medical_trauma.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Belt/Kits/medical_trauma.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#
