Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2025-01, with the labels that each got.

#527 Snake Tails
  Resources/Locale/en-US/_CD/markings/reptilian.ftl
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakedual_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakedual_primary_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakedual_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakedual_secondary_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripe_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripe_primary_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripe_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripe_secondary_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripealt_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripealt_primary_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripealt_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakestripealt_secondary_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snaketail.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snaketail_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakeunder_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakeunder_primary_wagging.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakeunder_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketails.rsi/tail_snakeunder_secondary_wagging.png
Labels: Changes: Sprites, Changes: No C#

#528 Mindleaf locale fix
  Resources/Locale/en-US/_CD/seeds/seeds.ftl
Labels: Changes: No C#

#530 Random Colored Coat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_CD/Entities/Clothing/OuterClothing/random_coat.yml
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/coat_color.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/coat_color.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/coat_color.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/coat_color.rsi/meta.json
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/coat_color.rsi/trinkets-equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, Changes: No C#

#531 Cosmetic Drip ~ Cosmetic Command
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/_CD/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/_CD/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_CD/Clothing/Mask/censor.rsi/equipped-MASK.png
  Resources/Textures/_CD/Clothing/Mask/censor.rsi/icon.png
  Resources/Textures/_CD/Clothing/Mask/censor.rsi/meta.json
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/icon-open.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/icon.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/meta.json
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/open-inhand-left.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/central_overseer.rsi/open-inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/centcomm_casual.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/centcomm_casual.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/centcomm_casual.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/centcomm_casual.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/Casual/centcomm_casual.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/centcomm_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/centcomm_turtle.rsi/icon.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/centcomm_turtle.rsi/inhand-left.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/centcomm_turtle.rsi/inhand-right.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/centcomm_turtle.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#533 Re-adding the Salvage Shuttle, take 2
  Resources/Maps/_CD/Shuttles/mining.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/_CD/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_CD/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_CD/Entities/Structures/Machines/Computers/tabletopcomputer.yml
  Resources/migration.yml
Labels: Changes: Map, Changes: No C#

#534 Unrestrict Vox Colors
  Resources/Prototypes/Species/vox.yml
Labels: Changes: No C#

#512 Tape Recorders
  Content.Client/_CD/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/_CD/TapeRecorder/Ui/TapeRecorderBoundUserInterface.cs
  Content.Client/_CD/TapeRecorder/Ui/TapeRecorderWindow.xaml
  Content.Client/_CD/TapeRecorder/Ui/TapeRecorderWindow.xaml.cs
  Content.Server/_CD/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/_CD/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/_CD/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/_CD/TapeRecorder/Components/TapeCassetteComponent.cs
  Content.Shared/_CD/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_CD/TapeRecorder/Events/TapeRecorderEvents.cs
  Content.Shared/_CD/TapeRecorder/SharedTapeRecorderSystem.cs
  Content.Shared/_CD/TapeRecorder/TapeCassetteRecordedMessage.cs
  Resources/Audio/_CD/Items/Taperecorder/attributions.yml
  Resources/Audio/_CD/Items/Taperecorder/taperecorder_play.ogg
  Resources/Audio/_CD/Items/Taperecorder/taperecorder_rewind.ogg
  Resources/Audio/_CD/Items/Taperecorder/taperecorder_stop.ogg
  Resources/Locale/en-US/_CD/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_CD/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_CD/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_CD/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_CD/Recipes/Lathes/misc.yml
  Resources/Prototypes/_CD/Roles/Jobs/Civilian/private_investigator.yml
  Resources/Textures/_CD/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/_CD/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/_CD/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/taperecorder_empty.png
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/taperecorder_idle.png
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/taperecorder_playing.png
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/taperecorder_recording.png
  Resources/Textures/_CD/Objects/Devices/tape_recorder.rsi/taperecorder_rewinding.png
  Resources/Textures/_CD/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_CD/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: Sprites, Changes: UI, Changes: Audio

#536 Bugfix: Senior officer vox start with their selected outerclothing
  Resources/Prototypes/_CD/Loadouts/role_loadouts.yml
Labels: Changes: No C#

#540 Temporarily derotate Elkridge & Plasma
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#

#537 Russian Accent Trait
  Resources/Locale/en-US/_CD/traits/traits.ftl
  Resources/Prototypes/_CD/Traits/speech.yml
Labels: Changes: No C#

#542 Triple Patch Threat
  Resources/CDMapPatches/elkridge.yml
  Resources/CDMapPatches/loop.yml
  Resources/CDMapPatches/plasma.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/plasma.yml
Labels: Changes: Map, Changes: No C#

#541 Make Accentless Trait Free
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: No C#
