Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2025-07, with the labels that each got.

#686 Balancing the Heavy Weight Trait
  Resources/Prototypes/_CD/Traits/traits.yml
Labels: Changes: No C#

#683 Minor formatting changes for the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Changes: No C#

#684 Moves shutle-vote-users.yml to shuttle-vote-users.yml
  Resources/Prototypes/_CD/Datasets/shuttle-vote-users.yml
Labels: Changes: No C#

#680 Typofixes the editor warning in the job panel
  Resources/Locale/en-US/_CD/job/editor-warnings.ftl
Labels: Changes: No C#

#687 Fix RSI Validator
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/rubber.png
Labels: Changes: Sprites, Changes: No C#

#701 Derotate Exo
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#

#691 Ferrous Rework July 2025: Patches and once-over
  Resources/Maps/_CD/ferrous.yml
Labels: Changes: Map, Changes: No C#

#710 Fix tail wagging.
  Resources/Prototypes/Actions/types.yml
Labels: Changes: No C#

#708 Wedding dress
  Resources/Prototypes/_CD/Catalog/VendingMachines/Inventories/quickthreads.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/dress.yml
  Resources/Textures/_CD/Clothing/OuterClothing/Misc/weddingdress.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Misc/weddingdress.rsi/icon.png
  Resources/Textures/_CD/Clothing/OuterClothing/Misc/weddingdress.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#714 Port Avali names from RMC
  Resources/Locale/en-US/_CD/datasets/names/avali_unisex.ftl
  Resources/Prototypes/_CD/Datasets/Names/avali.yml
Labels: Changes: No C#

#711 Fix closet skeleton rules introduced in #253
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: No C#

#703 Add Spesos as a Trinket
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: No C#

#704 fix event preferences panel
  Content.Client/_CD/Admin/UI/EventPreferences.xaml.cs
  Content.Client/_CD/Admin/UI/EventPreferencesPanel.xaml.cs
  Content.Server/_CD/Admin/EventPreferencePanelEui.cs
  Content.Shared/_CD/Admin/EventPreferencePanelEuiState.cs
Labels: Changes: UI

#676 allow AIs to remotely control cyborg shells
  Content.Client/Silicons/Borgs/BorgMenu.xaml
  Content.Client/Silicons/Borgs/BorgMenu.xaml.cs
  Content.Client/_CD/Silicons/StationAi/AiShellSelectionBoundUserInterface.cs
  Content.Client/_CD/Silicons/StationAi/AiShellSelectionMenu.xaml
  Content.Client/_CD/Silicons/StationAi/AiShellSelectionMenu.xaml.cs
  Content.Client/_CD/Silicons/StationAi/StationAiShellUserSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Ui.cs
  Content.Server/Silicons/Laws/SiliconLawEui.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/_CD/Silicons/StationAi/StationAiShellBrainSystem.cs
  Content.Server/_CD/Silicons/StationAi/StationAiShellUserSystem.cs
  Content.Shared/Silicons/Borgs/BorgUI.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/_CD/Silicons/StationAi/SharedStationAiShellUserSystem.cs
  Content.Shared/_CD/Silicons/StationAi/StationAiShellBrainComponent.cs
  Content.Shared/_CD/Silicons/StationAi/StationAiShellBrainHolderComponent.cs
  Content.Shared/_CD/Silicons/StationAi/StationAiShellUserComponent.cs
  Content.Shared/_CD/Silicons/StationAi/StationAiShellUserUi.cs
  Resources/Locale/en-US/_CD/silicons/station-ai.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_CD/Actions/station_ai.yml
  Resources/Prototypes/_CD/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_CD/Guidebook/science.yml
  Resources/Prototypes/_CD/Recipes/Lathes/robotics.yml
  Resources/ServerInfo/Guidebook/_CD/Science/AIShells.xml
  Resources/Textures/_CD/Objects/Devices/boris.rsi/boris.png
  Resources/Textures/_CD/Objects/Devices/boris.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#712 Give QM Nanochat
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#
