Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2025-02, with the labels that each got.

#547 1984 LRP posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/migration.yml
Labels: Changes: No C#

#545 Aspid Psych Update
  Resources/Maps/_CD/aspid.yml
  Resources/Prototypes/_CD/Maps/aspid.yml
Labels: Changes: Map, Changes: No C#

#546 Add ringbox and loadout rings!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Entities/Objects/Specific/Chapel/ringbox.yml
  Resources/Prototypes/_CD/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_CD/Recipes/Lathes/misc.yml
  Resources/Textures/_CD/Objects/Specific/Chapel/ringbox.rsi/meta.json
  Resources/Textures/_CD/Objects/Specific/Chapel/ringbox.rsi/ring-box-closed.png
  Resources/Textures/_CD/Objects/Specific/Chapel/ringbox.rsi/ring-box-open.png
  Resources/Textures/_CD/Objects/Specific/Chapel/ringbox.rsi/ring.png
Labels: Changes: Sprites, Changes: No C#

#548 Breaching Charges
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_CD/Entities/Objects/Weapons/Bombs/breaching.yml
  Resources/Prototypes/_CD/Recipes/Lathes/security.yml
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/icon.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/inhand-left.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/inhand-right.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/meta.json
  Resources/Textures/_CD/Objects/Weapons/Bombs/breaching.rsi/primed.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/icon.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/inhand-left.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/inhand-right.png
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/meta.json
  Resources/Textures/_CD/Objects/Weapons/Bombs/flashbreaching.rsi/primed.png
Labels: Changes: Sprites, Changes: No C#

#552 Remove Hostile Shuttles
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: No C#

#553 Convex CD Port
  Resources/CDMapPatches/convex.yml
  Resources/Prototypes/Maps/convex.yml
Labels: Changes: Map, Changes: No C#

#554 Dotnet version bump for binary artifacts
  .github/workflows/cd-build-upload-artifact.yml
Labels: Changes: No C#

#555 Avali Thermal slowdown fix
  Resources/Prototypes/_CD/Entities/Mobs/Species/avali.yml
Labels: Changes: No C#

#560 Added Wheelchairs to Medical Lathes
  Resources/Prototypes/_CD/Recipes/Lathes/Packs/cdpacks.yml
Labels: Changes: No C#
