Repository cosmatic-drift-14/cosmatic-drift, pull requests merged in 2025-06, with the labels that each got.

#636 Impstation Slime Markings!
  Resources/Locale/en-US/_CD/markings/slimeperson.ftl
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/slimeperson.yml
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/chest.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/chest.rsi/bubble.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/chest.rsi/core.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/chest.rsi/fishbowl1.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/chest.rsi/fishbowl2.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/chest.rsi/lungs.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/chest.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/eyes.rsi/cyclops.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/eyes.rsi/cyclopsglow.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/eyes.rsi/droopy.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/eyes.rsi/droopyglow.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/eyes.rsi/glow.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/eyes.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/brain.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/fadingstars1.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/fadingstars2.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/fadingstars3.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/fizz.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/mouth.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/head.rsi/nose.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/larm.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/larm.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/lfoot.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/lfoot.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/lhand.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/lhand.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/lleg.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/lleg.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rarm.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rarm.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rfoot.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rfoot.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rhand.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rhand.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rleg.rsi/bone.png
  Resources/Textures/_CD/Mobs/Customization/SlimePerson/rleg.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#606 admin records
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml.cs
  Content.Server.Database/CDModel.cs
  Content.Server.Database/Migrations/Postgres/20240617225327_CDRecordJsonToTable.cs
  Content.Server.Database/Migrations/Sqlite/20240617225311_CDRecordJsonToTable.cs
  Content.Server/_CD/Records/CharacterRecordsSystem.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
  Resources/ServerInfo/Guidebook/_CD/Records.xml
Labels: Changes: UI

#651 Cosmetic Drip 4.3 ~ Derespriting Engineering
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpskirt.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Engineering/station_engineer.yml
Labels: Changes: No C#

#653 make AI ion storm vulnerable
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#

#659 Aspid Sec + Sci rework
  Resources/Maps/_CD/aspid.yml
  Resources/Prototypes/_CD/Maps/aspid.yml
Labels: Changes: Map, Changes: No C#

#660 Vulpkanin Marking Improvements
  Resources/Locale/en-US/_CD/markings/vulpkanin.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
  Resources/Prototypes/_CD/Species/vulpkanin.yml
Labels: Changes: No C#

#661 Updated Gemini (#526)
  Resources/Maps/_CD/gemini.yml
Labels: Changes: Map, Changes: No C#

#666 port/add most AI screen sprites from TG station
  Resources/Locale/en-US/_CD/silicons/ai_screens.ftl
  Resources/Prototypes/AppearanceCustomization/station_ai.yml
  Resources/Prototypes/_CD/Entities/Mobs/Silicon/AI/station_ai_screens.yml
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_alien.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_alien_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_database.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_database_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_evil_dot.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_evil_dot_transition.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_firewall.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_fuzzy.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_gentoo.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_gentoo_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_glitchman.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_glitchman_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_goon.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_goon_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_hades.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_hades_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_hades_death_transition.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_helios.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_inverted.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_matrix.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_meow.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_monochrome.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_monochrome_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_murica.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_murica_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_nanotrasen.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_not_malf.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_president.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_rainbow.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_rainbow_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_red.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_red_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_red_october.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_red_october_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_static.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_static_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_text.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_thinking.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_thinking_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_too_deep.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_triumvirate.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_weird.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/ai_weird_dead.png
  Resources/Textures/_CD/Mobs/Silicon/AI/ai_screens.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#671 Derotate Exo
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#

#673 CD Exo Update
  Resources/CDMapPatches/exo.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/exo.yml
Labels: Changes: Map, Changes: No C#

#675 [Bugfix] Add Undergarment Layers to Vulps
  Resources/Prototypes/_CD/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: No C#

#677 Aspid Minor Atmos Update
  Resources/Maps/_CD/aspid.yml
Labels: Changes: Map, Changes: No C#
